section{
    width: 90%;
    margin: 0px auto 70px;
}

h3{
    text-align: center;
    margin: 0px;
}

.cards-area{
    margin: 83px 0px 45px;
    display: flex;
    flex-wrap: wrap;
}

.cards-area .new-card{
    width: 50%;
}

.work-button{
    font-size: 15px!important;
}

.cards-area .new-card:nth-child(3n+0){
    width: 100%;
}

@media screen and (max-width:860px)
{
    .new-card{
        width: 100%!important;
        margin-bottom: 10px;
    }
}