<main>
    <section>

        <h3>“ადამიანი შეძლებს ყველაფერს თუ მას ამის სურვილი აქვს”</h3>


        <article class="content">

            <aside class="left">
                <div class="img">
                    <img src="../../../assets/img/aboutMy.jpeg"
                        alt="">
                </div>
            </aside>

            <aside class="right">
                <p>დავიბადე ქალაქ ქუთაისში. ქუთაისშივე დავამთვრე მე_20 საჯარო სკოლა, რის შემდეგაც ჩავაბარე ილიას
                    სახელმწიფო უნივერსიტეტში. ბაკალავრიატის დასრულების შემდეგ გადავწყვიტე
                    ამეღო მაგისტრის ხარისხი ფილოსოფიაში. თუმცა ფილოსოფიამ, როგორი სახითაც სამწუხაროდ ის არსებობს
                    დღევანდელ საქართველოში, იმედი გამიცრუა და ამის გამო მაგისტრატურის დამთავრების შემდეგ გადავწყვიტე
                    დავბრუნებოდი ინფორმატიკას და გავიარე კურსები IT-აკადემია სტეპში.</p>

                <p>ვარ მიზანდასახული, შრომის მოყვარე, ვცდილობ საკუთრი თვის განვითარებას, ვაკეთბ ჩემი შესაძლებლობების მაქსიმუმს, ნებისმიერ საქმეში რასაც ხელს მოვკიდებ.</p>

                <p>ჩემი ფობია მოგზაურობა, ცურვა, ფეხბურთის თმაში და ჰობად გადამექცა კოდის წერაც.
                </p>
                <button appButtonDir routerLink="/contact">კონტაქტი</button>
            </aside>

        </article>


        <article class="skills">
            <h4>skills</h4>
            <ul class="programing-skills">
                <li>HTML</li>
                <li appScroll></li>
                <li>CSS</li>
                <li appScroll></li>
                <li>JS</li>
                <li appScroll></li>
                <li>ANGULAR</li>
                <li appScroll></li>
            </ul>
        </article>


    </section>
</main>