<header [ngClass]="{'heder-active':index}">
    <nav>
        <ul 
        [ngClass]="{'ul-active':index}"
        class="nav-bar-link">
            <div
            [ngClass]="{'list-active':index,'info':!index}">
                <li class="dropdown-bar">
                    <p
                    (click)="onDropDownButtonClick()"
                    >{{languageChangeStatus ? "ინფორმაცია":"Information"}}<i class="fas fa-chevron-down"></i></p>
                    <ul 
                    [ngClass]="{'burger-drop-down':index && index2,'dropdown-content':!index2}">
                        <li><a 
                            [ngClass]="{'white':backgroundColor, 'black':!backgroundColor}"
                            routerLink="/about-my"
                            (click)="collapse()"
                            >{{languageChangeStatus ? "ჩემს შესახებ":"about me"}}</a></li>
                        <li><a
                            [ngClass]="{'white':backgroundColor, 'black':!backgroundColor}" 
                            routerLink="/eduqation"
                            (click)="collapse()"
                            >{{languageChangeStatus ? "განათლება":"education"}}</a></li>
                    </ul>
                </li>
                <li><a
                    [ngClass]="{'white':backgroundColor, 'black':!backgroundColor}" 
                    routerLink="/"
                    (click)="collapse()"
                    >{{languageChangeStatus ? "ნამუშევრები":"works"}}</a></li>
                <li>
                    <button 
                    [ngClass]="{'sun':backgroundColor, 'moon':!backgroundColor}"
                    (click)="changeBackgroun()"
                    >
                    <i [ngClass]="{'fa-sun':backgroundColor, 'fa-moon':!backgroundColor}"
                    class="far"></i>
                    </button>
                </li>
            </div>
            <li class="burger-title"><a 
                routerLink="/"
                class="title">{{languageChangeStatus ? "იაგო ხარატიშვილი":"Iago Kharatishvili"}}</a>
            </li>

            <li
            [ngClass]="{'list-active':index,'contact':!index}">
            <button 
                (click)="languageChange()"
                class="language"><img [src]="languageButtonImg" alt=""></button>
            <a 
                [ngClass]="{'white':backgroundColor, 'black':!backgroundColor}"
                routerLink="/contact"
                (click)="collapse()"
                >{{languageChangeStatus ? "კონტაქტი":"contact"}}</a></li>
        </ul>
        <div 
        (click)="onBurgerClik()"
        class="burger">
            <span
            [ngClass]="{'burger-span-active':index}"
            class="burger-span"
            ></span>
        </div>
    </nav>
</header>