.workCard{
    height: 380px;
    position: relative;
}

a{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: white;
    transition: 0.4s;
}

a:hover{
    background-color: #C3942C;
    text-decoration: none;
}


@media screen and (max-width:780px)
{
    a{
        font-size: 30px;
    }
}
